#Bismillah
Coba jupyter notebook

In [1]:
#Integers (Bilangan Bulat)
print("Integer")
print(1234567890)
print(type(1234567890))
print()

#Float (Bilangan desimal)
print("Floating Number")
print(0.2345678)
print(type(0.2345678))
print()

#String
print('String')
print("String")
print('string dapat dituliskan dengan tanda kutip tunggal ("'") atau tanda kutip ganda ('"')')
#string juga dapat kosong
print('')
print()

#BOOLEAN
print(2)
print('boolean dari',2,'adalah',bool(2))
print()

#Variable Assignment 
x = 2
y = 3
print('x + y =', x + y)
a=b=c=0.0001
print(a,b,c)
print()

#variable types
Claude='Show me The Money'
print('Claude adalah',Claude)
print('type data Claude adalah',type(Claude))
Claude=True
print('Claude adalah',Claude)
print('type data Claude adalah',type(Claude))

Integer
1234567890
<class 'int'>

Floating Number
0.2345678
<class 'float'>

String
String
string dapat dituliskan dengan tanda kutip tunggal (") atau tanda kutip ganda (')


2
boolean dari 2 adalah True

x + y = 5
0.0001 0.0001 0.0001

Claude adalah Show me The Money
type data Claude adalah <class 'str'>
Claude adalah True
type data Claude adalah <class 'bool'>

Variables Names

In [2]:
Andi='String'
Ayah=2
Mama=2.4
Kakak=False
print(Andi,Ayah,Mama,Kakak)

#Nama Variable tidak boleh dimulai dengan angka
# Jenis" Penamaan Variable 
###Camel Case
sheSangTheSong=25
print(sheSangTheSong)
###Pascal Case
SheSangTheSong=26
print(SheSangTheSong)
###Snake Case
she_sang_the_song=27
print(she_sang_the_song)

String 2 2.4 False
25
26
27

Operators and Expression in Phyton

In [3]:
X = 2
Y = 3
#Arithmetic Operation
print(X+Y)
print(X-Y)
print(X*Y)
print(X/Y)
print(X%Y)
print(X**Y)

5
-1
6
0.6666666666666666
2
8

COMPARISON OPERATOR

In [4]:
print(X==Y)
print(x!=y)
print(X>=Y)
print(X<=Y)

False
True
False
True

String Operation/Manipulation

In [5]:
# + operation
camelCase='Phyton '
PascalCase='Data Science'
print('foot'+'ball')
print(camelCase+PascalCase)

# * operator
print(camelCase*5)

#in operator
j_='Andi'
print(j_ in 'Andi sedang makan')

#-----------CASE CONVERSION-------------#
Fraiss='Real Madrid'

#Capitalize 
print(Fraiss.capitalize())

#Lower
print(Fraiss.lower())

#Swapcase
print(Fraiss.swapcase())

#Title
print(Fraiss.title())

#Uppercase
print(Fraiss.upper())

football
Phyton Data Science
Phyton Phyton Phyton Phyton Phyton
True
Real madrid
real madrid
rEAL mADRID
Real Madrid
REAL MADRID

PHYTON LIST

In [6]:
Lathe=[1,'SiXiHa',2.45,True]
Machine=['SixiHa',2.45,True,1]

#List are ordered
print(Lathe==Machine)

#List elements can be accessed by index
#list dengan pengindexan positif
print(Lathe[0],type(Lathe[0])) #list can contain arbitrary objects
print(Lathe[1],type(Lathe[1]))
print(Lathe[2],type(Lathe[2]))
print(Lathe[3],type(Lathe[3]))
#list dengan pengindexan negatif
print()
print(Lathe[-4],type(Lathe[-4]))
print(Lathe[-3],type(Lathe[-3]))
print(Lathe[-2],type(Lathe[-2]))
print(Lathe[-1],type(Lathe[-1]))

#Slicing List
print(Machine[0:3])

#concatenation(+) and replication(*) operator in list
print(Lathe+Machine)
print(Lathe+[2.45])
print(Lathe*3)

# len(), ------min(), max() ---- urutan sesuai abjad (list harus bertype 'str')
Ngawur=['fdew','fdewfg','fregre','fdsfs']
print(len(Ngawur))
print(min(Ngawur))
print(max(Ngawur))

False
1 <class 'int'>
SiXiHa <class 'str'>
2.45 <class 'float'>
True <class 'bool'>

1 <class 'int'>
SiXiHa <class 'str'>
2.45 <class 'float'>
True <class 'bool'>
['SixiHa', 2.45, True]
[1, 'SiXiHa', 2.45, True, 'SixiHa', 2.45, True, 1]
[1, 'SiXiHa', 2.45, True, 2.45]
[1, 'SiXiHa', 2.45, True, 1, 'SiXiHa', 2.45, True, 1, 'SiXiHa', 2.45, True]
4
fdew
fregre

MODIFYING A SINGLE LIST VALUES

In [7]:
Lathe[0]='Machina'
Lathe[3]=False
print(Lathe)

['Machina', 'SiXiHa', 2.45, False]

MODIFYING MULTIPLE LIST VALUES

In [8]:
Lathe[0:6]=Lathe[0:3]+['qww',1.22,3]
print(Lathe)
print(Machine)
Machine[2:3]=[3,4]
print(Machine)

['Machina', 'SiXiHa', 2.45, 'qww', 1.22, 3]
['SixiHa', 2.45, True, 1]
['SixiHa', 2.45, 3, 4, 1]

PYTHON TUPLES

In [9]:
ML=('dsds','afd','asfdf','sssd')
print(ML[0])
(a,b,c)=(1,2,3)
print(a)

dsds
1

DICTIONARY

In [19]:
FC={
    'Spain':'Real Madrid',
    'France':'PSG',
    'Portugal':'FC Porto',
    'Turkey':'Galatasaray',
    'Indonesia':222
}
print(type(FC['Indonesia']))
print(FC['France'])
print(FC.get('Spain'))
print(FC.get('Italia','Juventus'))

<class 'int'>
PSG
Real Madrid
Juventus
{'Spain': 'Real Madrid', 'France': 'PSG', 'Portugal': 'FC Porto', 'Turkey': 'Galatasaray', 'Indonesia': 222}

Adding an entry to an existing dictionary

In [11]:
FC['England']='Chelsea'
FC['Club Spain']={'Barcelona','Atletico Madrid'}
FC[22]=33
print(FC)

{'Spain': 'Real Madrid', 'France': 'PSG', 'Portugal': 'FC Porto', 'Turkey': 'Galatasaray', 'Indonesia': 222, 'England': 'Chelsea', 'Club Spain': {'Barcelona', 'Atletico Madrid'}, 22: 33}

Update an entry in dictionary

In [12]:
FC['Club Spain']='Barcelona FC'
print(FC)

{'Spain': 'Real Madrid', 'France': 'PSG', 'Portugal': 'FC Porto', 'Turkey': 'Galatasaray', 'Indonesia': 222, 'England': 'Chelsea', 'Club Spain': 'Barcelona FC', 22: 33}

Delete an entry in dictionary

In [13]:
del FC['Club Spain']
print(FC)

{'Spain': 'Real Madrid', 'France': 'PSG', 'Portugal': 'FC Porto', 'Turkey': 'Galatasaray', 'Indonesia': 222, 'England': 'Chelsea', 22: 33}

Line Continuation

In [4]:
mahasiswa1 = 82
mahasiswa2 = 78
mahasiswa3 = 94
nilaiDapatA = (mahasiswa1>=76 and mahasiswa1<=100) or (mahasiswa2>=76 and mahasiswa2<=100) or (mahasiswa3>=76 and mahasiswa3<=100)
print(nilaiDapatA)

True

Building a Dictionary Incrementally
#COBA looping

In [30]:
from turtle import end_fill


MLBB = {
        'INA':'RRQ HOSHI',
        'PHI':'Blacklist',
        'MALAY':'TODAK',
        'MYANMAR':'BG'
}

Looping untuk menuliskan keys pada dictionary

In [34]:
for i in MLBB :
    print(i)
# Cara Lain
for j in MLBB.keys() :
    print(j)

INA
PHI
MALAY
MYANMAR
INA
PHI
MALAY
MYANMAR

Looping untuk menuliskan values pada dictionary

In [32]:
for i in MLBB :
    print(MLBB[i])
#Cara Lain
for j in MLBB.values() :
    print(j)

RRQ HOSHI
Blacklist
TODAK
BG
RRQ HOSHI
Blacklist
TODAK
BG

Looping untuk menuliskan key : values dictionary

In [36]:
for x,y in MLBB.items() :
    print(x,':',y)

INA : RRQ HOSHI
PHI : Blacklist
MALAY : TODAK
MYANMAR : BG